<h1>Editing Absolute Date Time Root</h1>

<%= render 'form', absolute_date_time_root: @absolute_date_time_root %>

<%= link_to 'Show', @absolute_date_time_root %> |
<%= link_to 'Back', absolute_date_time_roots_path %>
