<p id="notice"><%= notice %></p>

<div class="ui text container">
  <h1 class="ui dividing header">Absolute Date Time Root</h1>
</div>

<div class="ui text container">
      <p>
      <strong>Name:</strong>
              <%= @absolute_date_time_root.name %>
          </p>
  </div>

<%= link_to 'Edit', edit_absolute_date_time_root_path(@absolute_date_time_root) %> |
<%= link_to 'Back', absolute_date_time_roots_path %>
