<strong>Datetime occurred at:</strong>
<% if thisItem.datetimeOccurredAt -%>
  <%= link_to thisItem.datetimeOccurredAt.name, "/absolute_date_nodes/#{thisItem.datetimeOccurred.id}" %></td>
<% end -%>

